:root {
    --arrow-color: rgb(253, 253, 253);
    --font-color: rgb(253, 253, 253);
    --slide-animation:500ms cubic-bezier(0.3, 0.21, 0.25, 1);
    --ff-main: "Varela Round", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

/* CSS FOR LOADING SCREEN  : UNRELATED TO ANYTHING ELSE */
.loading-scene {
    background-color: dimgray;
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: grid;
    place-content: center;
    overflow-y: hidden;
    z-index: 100;
}

.loading-scene[complete] {
    margin-left: 100vw;
    transition: all 1200ms cubic-bezier(0.9, 0.3, 0.45, 1.22);
}

@keyframes loading {
    from {
        rotate: 0deg;
    }
    75% {
        rotate: 300deg;
    }

    to {
        rotate: 360deg;
    }
}

.loading-circle {
    position: relative;

    width: 50px;
    height: 50px;

    background-color: #fff;
    border-radius: 10px;
    border: none;
    z-index: 100;
    animation: loading 1000ms linear forwards infinite;
}
.loading-shadow {
    width: 60px;
    position: absolute;
    top: calc(50% - 3px);
    left: calc(50% - 20px);
    height: 1px;
    z-index: 99;
    box-shadow: -1rem 2rem 10px 2px #010101;
}
.loading-circle .dots {
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: black;
    border-radius: 50%;
}

.loading-circle .dot-1 {
    top: 10px;
    left: 10px;
}
.loading-circle .dot-2 {
    top: 10px;
    right: 10px;
}
.loading-circle .dot-3 {
    left: 23px;
    top: 23px;
}
.loading-circle .dot-4 {
    bottom: 10px;
    left: 10px;
}
.loading-circle .dot-5 {
    bottom: 10px;
    right: 10px;
}
body {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    position: relative;
    font-family: var(--ff-main);
    overflow: hidden;   
}


#screens{
    position: relative;
}
.screen {
    width: 100%;
    height: 100vh;

    display: grid;
    place-items: center;

    overflow: hidden;
    position: absolute;
}
.screen .title {
    font-size: 5vw;
    width: 80vw;
    height: 10vh;
    margin: 45vh 10vw;
}
.screen.intro-screen {
    background-color: cornflowerblue;
    z-index: 1;
    --font-color: #ffffff;
    color: var(--font-color);
}
.screen.rps {
    background-color: burlywood;
    z-index: 2;
    --font-color: #2d2d2d;
    color: var(--font-color);
}
.screen.tictactoe {
    background-color: #a6330a;
    z-index: 3;
    --font-color: #f7f7f7;
    color: var(--font-color);
}
.screen.minesweeper {
    background-color: #f28907;
    z-index: 4;
    --font-color: #222222;
    color: var(--font-color);
}
@media (width < 768px) {
    .screen.rps,
    .screen.tictactoe,
    .screen.minesweeper {
        height: 0;
        transition: height var(--slide-animation);

    }
    .screen[CurrentScreen]{
        height:100vh;
        opacity: 1;
    }
}
@media (width > 768px) {
    .screen.rps,
    .screen.tictactoe,
    .screen.minesweeper {
        width: 0;
    transition: width var(--slide-animation);

    }
    .screen[CurrentScreen]{
        width:100%;
    }
}


.screen[CurrentScreen] {
    transition:width var(--slide-animation),height var(--slide-animation);
}

.arrows {
    font-size: 3rem;
    position: absolute;
    z-index: 5;
    outline: 3px solid;
    border-radius: 50%;
    outline-offset: 3px;
    color: var(--arrow-color);
}
.arrows:hover {
    transform: scale(1.06);
    opacity: 0.95d;
    transition: offset 100ms ease-in, transform 100ms ease-in;
}
.arrows[disabled],
.arrows[disabled]:hover {
    opacity: 0.5;
}

@media (width > 768px) {
    .arrows{
        top:calc(50vh - 1.2rem);
    }
    .next-arrow{
        right:2vw;
    }.prev-arrow{
        left: 2vw;
    }
}
@media (width < 768px) {
    .arrows{
        top:calc(80vh - 1.2rem);
    }
    .next-arrow{
        right:30vw;
    }.prev-arrow{
        left: 30vw;
    }
}
@keyframes shakeOnDisabled {
    10% {
        transform: translateX(-5px);
    }

    20% {
        transform: translateX(5px);
    }

    30% {
        transform: translateX(-5px);
    }

    40% {
        transform: translateX(5px);
    }

    50% {
        transform: translateX(-5px);
    }

    60% {
        transform: translateX(5px);
    }

    70% {
        transform: translateX(-5px);
    }

    80% {
        transform: translateX(5px);
    }

    90% {
        transform: translateX(-5px);
    }

    100% {
        transform: translateX(0);
    }
}
